

.fw-bold{    font-weight: $fw-bold; }
.fw-bolder{    font-weight: $fw-bolder; }
.fw-normal{    font-weight: $fw-normal; }
.fw-light{    font-weight: $fw-light; }


.title-center-40{    font-size: $fs-40px; text-align: center; }
.title-center-30{    font-size: $fs-30px; text-align: center; }
.title-center-25{    font-size: $fs-25px; text-align: center; }
.title-center-20{    font-size: $fs-20px; text-align: center; }
.title-center-15{    font-size: $fs-15px; text-align: center; }

.text-white{
    color:$color-white;
}